<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="styling.css">
    <title>Document</title>
</head>

<body>
    <h id="app">
        <ul>
            <li v-for="(ingredient, index) in ingredients" :key="index">idx: {{index}}, name: {{ingredient}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
            </li>
        </ul>
        <span v-for="x in 10">{{x}}</span>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>


    <script src="app.js"></script>
    <script src="styling.js"></script>
</body>

</html>